<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
    	<a class="brand" href="#">Apricot</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li id="homebtn" class="active">
            <a href="#">Home</a>
          <li id="submitbtn"> 
            <a href="#submit">Submit</a>
          </li>
          <li id="randombtn">
            <a href="#random">Random</a>
          </li>
          <li id="tagsbtn">
            <a href="#tags">Tags</a>
          </li>
          <li id="infobtn">
            <a href="#info">Info</a>
          </li>
        </ul>
      </div>
      <div id="searchBar" class="navbar-text pull-right">
        <input type="text" id="searchTags" name="tag" class="input-medium search-query" placeholder="Search for a tag...">
        <button id="searchButton" type="submit" class="btn">Go!</button>
      </form>
    </div>
  </div>
</div>
