<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
    	<a class="brand" href="#">Apricot</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li id="homebtn" class="active">
            <a href="#">Home</a>
          <li id="newbtn"> 
            <a href="#new">New</a>
          </li>
        </li>
      </ul>
    </div>
  </div>
</div>