<p>Apricot is a simple imageboard for Adventure Time images. It is inspired by <a href="http://www.mylittlefacewhen.com">My Little Face When</a>.</p>

<p>Grab the source code <a href="https://github.com/khwang/apricot">here</a> and feel free to submit pull requests!</p>

