<h1>Tag Cloud</h1>

<% var tagModels = tag_cloud.models; %>

<% for (var i = 0; i < tagModels.length; i++) { %>
  <p> <a href="#search/<%= tagModels[i].toJSON().name %>"><%= tagModels[i].toJSON().name %> (<%= tagModels[i].toJSON().count %>)</a> </p>
<% } %>
