<h1>Edit image</h1>

<form id="edit-image" name="image">
  <div class="field">
    <label for="url"> url:</label>
    <input type="text" name="url" id="url" value="<%= url %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Image" />
  </div>

</form>

<a href="#/index">Back</a>