<h1>New image</h1>

<form action="/images" method="post" accept-charset="UTF-8" id="new-image" name="image" enctype="multipart/form-data">

  <div class="field">
    <label for="url"> url:</label>
    <input type="text" name="url" id="url">
    <label for="data"> image:</label>
    <input type="file" name="data" id="data">
  </div>

  <div class="actions">
    <input type="submit" value="Create Image" />
  </div>

</form>

