<h1>New image</h1>

<p>New images are first processed for review to ensure quality and to cut down on spam. Thanks for submitting quality images!</p>

<form action="/images" method="post" accept-charset="UTF-8" id="new-image" name="image" enctype="multipart/form-data">

  <div class="field">
    <input type="file" name="data" id="data">
  </div>

  <div class="actions">
    <input type="submit" value="Create Image" />
  </div>

</form>

