.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      %a.brand(href="/") Apricot
      .nav-collapse.collapse
        .nav
          %li.active
            %a(href="/") Home

#images

:javascript
  $(function () {
    window.router = new Apricot.Routers.ImagesRouter({images: #{@images.to_json.html_safe}});
    Backbone.history.start();
  });